# **Week 11 Assignment: Aggregation**

## IPython Notebook Setup

Import pandas library for pandas operations

In [171]:
import pandas as pd
from pandas import DataFrame, read_csv
%matplotlib inline
pd.options.display.max_rows = 150

## Open .csv file

Create the `medications` object to hold the data read from passing the file location to pandas `read_csv` function.
Below, the read .csv file is rotated from "wide" to "long" using the pandas .melt function.

In [172]:
medications = pd.read_csv(r'/Users/Shared/Medications.csv')

In [173]:
meds = pd.melt(medications, id_vars=['Subject', 'Gender'], 
               value_vars=['Control', 'Medication A', 'Medication B', 'Medication C', 'Medication D'], 
               var_name= 'Medication', value_name='Heartrate')

## Using the .groupby function

Below are some examples of the pandas .groupby function and its uses:

In [178]:
med_counts = meds['Medication'].groupby(meds['Medication'])

After storing the dataframe operated on by .groupby in "med_counts", we can use .describe() to show counts for each medication, and the datatype for the object.

In [179]:
med_counts.describe()

Medication
Control       count               20
              unique               1
              top            Control
              freq                20
Medication A  count               20
              unique               1
              top       Medication A
              freq                20
Medication B  count               20
              unique               1
              top       Medication B
              freq                20
Medication C  count               20
              unique               1
              top       Medication C
              freq                20
Medication D  count               20
              unique               1
              top       Medication D
              freq                20
dtype: object

Here, we access the `'Heartrate'` field in the `meds` dataframe to get some quantitative information:

In [19]:
med_groups = meds['Heartrate'].groupby(meds['Medication'])

We can find the mean, median, max, or min for each of the Control and four different medicaitons used in the testing:

In [181]:
med_groups.mean()

Medication
Control         75.80
Medication A    96.70
Medication B    53.15
Medication C    75.85
Medication D    73.05
Name: Heartrate, dtype: float64

In [21]:
med_groups.median()

Medication
Control         75.5
Medication A    98.0
Medication B    54.5
Medication C    79.0
Medication D    78.5
Name: Heartrate, dtype: float64

In [22]:
med_groups.max()

Medication
Control          88
Medication A    110
Medication B     66
Medication C     92
Medication D    100
Name: Heartrate, dtype: int64

In [186]:
med_groups.min()

Medication
Control         65
Medication A    85
Medication B    40
Medication C    60
Medication D    42
Name: Heartrate, dtype: int64

Using .describe() again, we can get a summary with all of the information for the functions (and more!) used above:

In [185]:
med_groups.describe()

Medication
Control       count     20.000000
              mean      75.800000
              std        6.550211
              min       65.000000
              25%       71.250000
              50%       75.500000
              75%       80.250000
              max       88.000000
Medication A  count     20.000000
              mean      96.700000
              std        8.510674
              min       85.000000
              25%       88.500000
              50%       98.000000
              75%      103.250000
              max      110.000000
Medication B  count     20.000000
              mean      53.150000
              std        8.125820
              min       40.000000
              25%       45.000000
              50%       54.500000
              75%       59.000000
              max       66.000000
Medication C  count     20.000000
              mean      75.850000
              std       10.464351
              min       60.000000
              25%       65.000000
              50%       79.000000
              75%       84.250000
              max       92.000000
Medication D  count     20.000000
              mean      73.050000
              std       19.885131
              min       42.000000
              25%       50.000000
              50%       78.500000
              75%       89.500000
              max      100.000000
dtype: float64

In [30]:
med_subs = meds['Heartrate'].groupby(meds['Subject'])

Lastly, we can make one more object (`med_subs`) and access the `meds` dataframe "Heartrate" column, and group by test subject.  Similar to the operations above, we can get the average heartrate for all medications to see how much the heartrate for each of the test subjects varies:

In [28]:
med_subs.mean()

Subject
1     65.4
2     78.8
3     81.6
4     77.6
5     78.0
6     67.4
7     76.2
8     67.4
9     73.2
10    75.0
11    78.2
12    80.0
13    77.0
14    69.8
15    80.0
16    84.4
17    75.2
18    77.8
19    70.0
20    65.2
Name: Heartrate, dtype: float64

## Pivot Tables in pandas

The .pivot_table function can be used to create tables of data with columns and rows indicated by column headers from the dataframe object.  Below is a pivot table created with hierarchical / multi-level indexing for Gender and Subject (so all subjects that are either male or female are grouped together), and the control and different medications are column headers going across:

In [147]:
meds.pivot_table(index=['Gender', 'Subject'], columns='Medication')

               Heartrate
Medication       Control Medication A Medication B Medication C Medication D
Gender Subject
Female 1              82           87           53           63           42
       3              75          100           49           84          100
       4              72          109           55           82           70
       5              67          104           62           85           72
       6              72           93           45           82           45
       7              74          110           55           92           50
       8              69           89           40           89           50
       11             76          108           54           74           79
       15             68          102           62           86           82
       16             86          100           59           82           95
       19             77          103           42           64           64
       20             69           91           58           63           45
Male   2              85           87           66           60           96
       9              74           85           42           87           78
       10             78           87           45           83           82
       12             80           90           59           76           95
       13             81           96           51           69           88
       14             88          103           44           65           49
       17             65          104           56           66           85
       18             78           86           66           65           94

We can also do a similar operation, but structuring the pivot table slightly different to get Female and Male average heartrates by medication:

In [142]:
meds.pivot_table('Heartrate', index=['Gender', 'Medication'])

Gender  Medication
Female  Control         73.916667
        Medication A    99.666667
        Medication B    52.833333
        Medication C    78.833333
        Medication D    66.166667
Male    Control         78.625000
        Medication A    92.250000
        Medication B    53.625000
        Medication C    71.375000
        Medication D    83.375000
Name: Heartrate, dtype: float64

## pandas Crosstab function

Lastly, the pandas crosstab function to compute group frequencies.  This will basically summarize counts of objects, but will not perform any operations on quantitative data:

In [168]:
pd.crosstab(['Subject'], meds.Gender)

Gender   Female  Male
row_0
Subject      60    40